body {
    background-color:  darkslategrey; 

    display: flex;
    flex-direction: column;
   
    
    font-family: Arial, sans-serif; 
}


h1 {
    color: #fff; 
    
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.fila {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 

    justify-content: center;
    gap: 15px; 
    margin-bottom: 15px; 


}







.imagen {
    width: 200px; 
    height: 150px;
    display: block; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
   
}

.imagen:hover {
    transform: scale(1.20); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
}